.container {
  position: relative;
  height: 100%;
  overflow: auto;
}

.placeholder {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.list {
  position: absolute;
  left: 0;
  top: 0;
  /* right: 0;
  bottom: 0; */
  /* overflow: auto; */
}