.flex-center { display: flex; justify-content: center; align-items: center; }
.flex-x-center { display: flex; justify-content: center; }
.flex-y-center { display: flex; align-items: center; }


.h-full { height: 100% }
.w-full { width: 100% }

.scroll { overflow: scroll; }

.wrapper { padding: 20px; }